In [1]:
import pandas as pd
%matplotlib inline

## Reading File
##### Reads data from writing.csv which contains number of journal pages written every day from 6/10/2018-6/9/2019

In [26]:
dates = pd.read_csv("writing.csv")
dates.head()

   Date  Number of pages written
0  6/10                     0.00
1  6/11                     0.00
2  6/12                     0.00
3  6/13                     3.75
4  6/14                     0.00

## Filtering the Data
#### Filters dates based on whether or not the quantity of journal pages written is greater than 0

In [27]:
page_query_mask = dates['Number of pages written'] > 0
valid_dates = dates[page_query_mask]
valid_dates

     Date  Number of pages written
3    6/13                     3.75
15   6/25                     3.00
16   6/26                     3.00
17   6/27                     1.50
19   6/29                     3.50
..    ...                      ...
349  5/25                     0.50
351  5/27                     7.00
355  5/31                     2.00
357   6/2                     1.00
360   6/5                    10.00

[98 rows x 2 columns]

## Dividing Data by Month
#### Sorts data by month and outputs a description for each

In [38]:
june_query_mask = valid_dates["Date"].str.startswith("6")
june = valid_dates[june_query_mask]

july_query_mask = valid_dates["Date"].str.startswith("7")
july = valid_dates[july_query_mask]

august_query_mask = valid_dates["Date"].str.startswith("8")
august = valid_dates[august_query_mask]

september_query_mask = valid_dates["Date"].str.startswith("9")
september = valid_dates[september_query_mask]

october_query_mask = valid_dates["Date"].str.startswith("10")
october = valid_dates[october_query_mask]

november_query_mask = valid_dates["Date"].str.startswith("11")
november = valid_dates[november_query_mask]

december_query_mask = valid_dates["Date"].str.startswith("12")
december = valid_dates[december_query_mask]

january_query_mask = valid_dates["Date"].str.startswith("1/")
january = valid_dates[january_query_mask]

february_query_mask = valid_dates["Date"].str.startswith("2")
february = valid_dates[february_query_mask]

march_query_mask = valid_dates["Date"].str.startswith("3")
march = valid_dates[march_query_mask]

april_query_mask = valid_dates["Date"].str.startswith("4")
april = valid_dates[april_query_mask]

may_query_mask = valid_dates["Date"].str.startswith("5")
may = valid_dates[may_query_mask]

print("January", january.describe())
print("February", february.describe())
print("March", march.describe())
print("April", april.describe())
print("May", may.describe())
print("June", june.describe())
print("July", july.describe())
print("August", august.describe())
print("September", september.describe())
print("October", october.describe())
print("November", november.describe())
print("December", december.describe())

January        Number of pages written
count                 9.000000
mean                  3.833333
std                   3.436932
min                   1.000000
25%                   1.000000
50%                   3.000000
75%                   5.500000
max                   9.500000
February        Number of pages written
count                 9.000000
mean                  2.277778
std                   1.227577
min                   0.500000
25%                   1.000000
50%                   2.500000
75%                   3.000000
max                   4.000000
March        Number of pages written
count                 3.000000
mean                  6.166667
std                   6.788471
min                   2.000000
25%                   2.250000
50%                   2.500000
75%                   8.250000
max                  14.000000
April        Number of pages written
count                18.000000
mean                  3.055556
std                   2.689243
min                   1.000000
25%                   1.500000
50%                   2.000000
75%                   3.375000
max                  12.500000
May        Number of pages written
count                 6.000000
mean                  2.666667
std                   2.273030
min                   0.500000
25%                   1.625000
50%                   2.000000
75%                   2.750000
max                   7.000000
June        Number of pages written
count                 8.000000
mean                  3.531250
std                   2.778866
min                   1.000000
25%                   2.250000
50%                   3.000000
75%                   3.562500
max                  10.000000
July        Number of pages written
count                16.000000
mean                  1.687500
std                   1.054751
min                   0.250000
25%                   1.000000
50%                   1.500000
75%                   2.250000
max                   4.500000
August        Number of pages written
count                12.000000
mean                  1.375000
std                   0.801277
min                   0.250000
25%                   0.937500
50%                   1.125000
75%                   2.000000
max                   2.500000
September        Number of pages written
count                 8.000000
mean                  1.093750
std                   0.865381
min                   0.250000
25%                   0.500000
50%                   1.000000
75%                   1.125000
max                   3.000000
October        Number of pages written
count                      0.0
mean                       NaN
std                        NaN
min                        NaN
25%                        NaN
50%                        NaN
75%                        NaN
max                        NaN
November        Number of pages written
count                     3.00
mean                      2.00
std                       0.50
min                       1.50
25%                       1.75
50%                       2.00
75%                       2.25
max                       2.50
December        Number of pages written
count                 6.000000
mean                  2.083333
std                   1.241639
min                   0.500000
25%                   1.125000
50%                   2.250000
75%                   3.000000
max                   3.500000